<div class= "boatSelector">


    <div class="boatLine"  (click)="onBoatSelected(PorteAvion)">      
        <img  [class.boatImgSelected]="selectedBoat?.type === PorteAvion.type" 
        [class.boatAlreadyPositionned]="isBoatOnTheGrid(PorteAvion)" class="boatImg"
         src={{PorteAvion.image}}>
    </div>
    <div class="boatLine" (click)="onBoatSelected(Croiseur)">
        <img [class.boatImgSelected]="selectedBoat?.type === Croiseur.type" [class.boatAlreadyPositionned]="isBoatOnTheGrid(Croiseur)" class="boatImg" src={{Croiseur.image}}>
    </div>
    <div class="boatLine" (click)="onBoatSelected(SousMarin_1 )">
        <img [class.boatImgSelected]="selectedBoat?.type === SousMarin_1.type" [class.boatAlreadyPositionned]="isBoatOnTheGrid(SousMarin_1)" class="boatImg" src={{SousMarin_1.image}}>
    </div>
    <div class="boatLine" (click)="onBoatSelected(SousMarin_2 )">
        <img [class.boatImgSelected]="selectedBoat?.type === SousMarin_2.type" [class.boatAlreadyPositionned]="isBoatOnTheGrid(SousMarin_2)" class="boatImg" src={{SousMarin_2.image}}>
    </div>
    <div class="boatLine" (click)="onBoatSelected(Torpilleur)">
        <img [class.boatImgSelected]="selectedBoat?.type === Torpilleur.type" [class.boatAlreadyPositionned]="isBoatOnTheGrid(Torpilleur)" class="boatImg" src={{Torpilleur.image}}>
    </div>


</div>