.boatSelector {
  border-radius: 60px;
  background-image: url("../../../../../assets/images/selectionBox.jpg");
  background-position: center;
  background-size: 100% 100%;

  position: fixed;
  right: 80px;
  top: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.boatLine {
  width: 170px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.boatImg {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.boatImgSelected {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.boatImg:hover {
  width: 135px;
  height: 135px;
  border-radius: 20px;
  box-shadow: none;
}

@media (max-height: 849px) {
  .boatImg {
    width: 110px;
    height: 110px;
  }
  .boatImg:hover {
    width: 125px;
    height: 125px;
  }
  .boatLine {
    width: 150px;
  }
}
@media (max-height: 799px) {
  .boatImg {
    width: 100px;
    height: 100px;
  }
  .boatImg:hover {
    width: 115px;
    height: 115px;
  }
  .boatLine {
    width: 130px;
  }
}
@media (max-height: 749px) {
  .boatImg {
    width: 90px;
    height: 90px;
  }
  .boatImg:hover {
    width: 105px;
    height: 105px;
  }
  .boatLine {
    width: 110px;
  }
}
@media (max-height: 699px) {
  .boatImg {
    width: 80px;
    height: 80px;
  }
  .boatImg:hover {
    width: 95px;
    height: 95px;
  }
  .boatLine {
    width: 90px;
  }
}
@media (max-height: 649px) {
  .boatImg {
    width: 70px;
    height: 70px;
  }
  .boatImg:hover {
    width: 85px;
    height: 85px;
  }
  .boatLine {
    width: 70px;
  }
}
@media (max-height: 599px) {
  .boatImg {
    width: 60px;
    height: 60px;
  }
  .boatImg:hover {
    width: 75px;
    height: 75px;
  }
  .boatLine {
    width: 50px;
  }
}

.boatAlreadyPositionned {
  cursor: not-allowed;
  opacity: 0.5;
}

.boatName {
  margin-block-start: 0em;
}
