.boatSelector {
  border-radius: 60px;
  background-image: url("../../../../../assets/images/selectionBox.jpg");
  background-position: center;
  background-size: 100% 100%;

  position: fixed;
  right: 80px;
  top: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.boatLine {
  width: 170px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-height: 849px) {
  .boatLine {
    width: 150px;
  }
}
@media (max-height: 799px) {
  .boatLine {
    width: 130px;
  }
}
@media (max-height: 749px) {
  .boatLine {
    width: 110px;
  }
}
@media (max-height: 699px) {
  .boatLine {
    width: 90px;
  }
}
@media (max-height: 649px) {
  .boatLine {
    width: 70px;
  }
}
@media (max-height: 599px) {
  .boatLine {
    width: 50px;
  }
}

.boatAlreadyPositionned {
  cursor: not-allowed;
  opacity: 0.5;
}

.boatName {
  margin-block-start: 0em;
}
