<core-modal (closeModalEvent)="closeMenu()">
  <p class="title">Mon compte</p>
  <ng-container *ngIf="!subscriptionMode">
    <user-connexion (userConnectedEvent)="userConnected()" />
    <p class="description">Ou</p>
    <p class="description">
      <button class="actionBtn" (click)="switchConnexionSubscription()">
        S'inscrire
      </button>
    </p>
  </ng-container>
  <ng-container *ngIf="subscriptionMode">
    <user-subscription />
    <p class="description">Ou</p>
    <p class="description">
      <button class="actionBtn" (click)="switchConnexionSubscription()">
        Se connecter
      </button>
    </p>
  </ng-container>
</core-modal>
