<div class= "boatSelector">

    <div class="boatLine"  (click)="onBoatSelected(PorteAvion)">      
       <app-boat-selector-img (onBoatSelectedEvent)="onBoatSelected(PorteAvion)" [isMouseOverTheGrid]="isMouseOverTheGrid" [boatToDisplay]="PorteAvion" [selected]="selectedBoat?.type === PorteAvion.type" [disable]="isBoatOnTheGrid(PorteAvion)"/>
    </div>
    
    <div class="boatLine"  (click)="onBoatSelected(Croiseur)">      
        <app-boat-selector-img (onBoatSelectedEvent)="onBoatSelected(Croiseur)"  [isMouseOverTheGrid]="isMouseOverTheGrid" [boatToDisplay]="Croiseur" [selected]="selectedBoat?.type === Croiseur.type" [disable]="isBoatOnTheGrid(Croiseur)"/>
     </div>
     
    <div class="boatLine"  (click)="onBoatSelected(SousMarin_1)">      
        <app-boat-selector-img (onBoatSelectedEvent)="onBoatSelected(SousMarin_1)"  [isMouseOverTheGrid]="isMouseOverTheGrid" [boatToDisplay]="SousMarin_1" [selected]="selectedBoat?.type === SousMarin_1.type" [disable]="isBoatOnTheGrid(SousMarin_1)"/>
     </div>
     
    <div class="boatLine"  (click)="onBoatSelected(SousMarin_2)">      
        <app-boat-selector-img (onBoatSelectedEvent)="onBoatSelected(SousMarin_2)"  [isMouseOverTheGrid]="isMouseOverTheGrid" [boatToDisplay]="SousMarin_2" [selected]="selectedBoat?.type === SousMarin_2.type" [disable]="isBoatOnTheGrid(SousMarin_2)"/>
     </div>
     
    <div class="boatLine"  (click)="onBoatSelected(Torpilleur)">      
        <app-boat-selector-img (onBoatSelectedEvent)="onBoatSelected(Torpilleur)"  [isMouseOverTheGrid]="isMouseOverTheGrid" [boatToDisplay]="Torpilleur" [selected]="selectedBoat?.type === Torpilleur.type" [disable]="isBoatOnTheGrid(Torpilleur)"/>
     </div>

</div>