<div class="page">
  <div class="head">
    <game-header />
  </div>
  <div class="body">
    <game-mode
      *ngIf="displayMode"
      (onGameModeChoosed)="onGameModeChoosed($event)"
    ></game-mode>
    <game-placement
      *ngIf="displayPlacement"
      (onAllBoatAreDisposeEvent)="onAllBoatAreDispose($event)"
    />
    <game-animation-lets-go
      *ngIf="displayLetsGoAnimation"
      (animationFinishedEvent)="onLetsGoAnimationFinished()"
    />
    <game-attack-game
      *ngIf="displayAttackGame"
      [myBoats]="myBoats"
      (onGameFinishedEvent)="onGameFinished($event)"
    />
    <game-animation-win
      *ngIf="displayWinAnimation"
      (animationFinishedEvent)="onAnimationEndGameResultFinished()"
    />
    <game-animation-lose
      *ngIf="displayLoseAnimation"
      (animationFinishedEvent)="onAnimationEndGameResultFinished()"
    />
  </div>
</div>
