.gridPlacement {
  position: fixed;
  left: 25%;
  top: 40px;
  display: flex;
  width: 50%;
  justify-content: center;
}
.grid {
  display: flex;
  width: 100%;
  background-image: url("../../../../../assets/images/gridBackground.jpg");
  background-position: center;
  background-size: 100% 100%;
}
.cellInTheBoatRange {
  background-image: url("../../../../../assets/images/construction.jpg");
  background-position: center;
  background-size: cover;
}
.cellIsConstructable {
  cursor: pointer;
}
.cellIsNotConstructable {
  opacity: 0.5;
}
.cellIsNearABoat {
  background-color: rgba(255, 255, 255);
  opacity: 0.5;
}
.occupied {
  background-image: url("../../../../../assets/images/construction.jpg");
  background-position: center;
  background-size: cover;
  opacity: 1;
}
.column {
  width: 10%;
}

.cell {
  border: 1px solid black;
  height: 70px;
}

.infoArea {
  position: fixed;
  top: 760px;
  font-size: 32px;
  text-align: center;
  color: white;
  text-shadow: #000 3px 0 10px;
  font-weight: bold;
}
