<div class="game_mode">
  <div class="container" *ngIf="displaySoloOrMultiBtn">
    <div class="infoArea">Choisissez votre mode de jeu</div>
    <button class="chose_mode" (click)="choseModeSolo()">Solo</button>
    <button class="chose_mode" (click)="choseModeMultiPlayer()">
      Multijoueur
    </button>
  </div>
  <game-multi-player-option-box
    *ngIf="displayMultiplayerOptionBox"
    (closeEvent)="closeMultiPlayerBox()"
    (opponentJoinGameEvent)="allPlayerReady($event)"
    (joinOpponentGameEvent)="allPlayerReady($event)"
  />
</div>
