.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.userBtn {
  background-image: url(/assets/images/marin.jpg);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 50%;
  border: 1px #888 solid;
  cursor: pointer;
}

.userBtn:hover {
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
}
