.playerBoards {
  width: 92%;
  position: relative;
  left: 4%;
  top: 5%;
  height: 90%;
  display: flex;
}

.opponent {
  width: 48%;
  height: 100%;
  padding-right: 2%;
}

.opponentBoard {
  height: 90%;
}

.opponentBoatStates {
  height: 10%;
}
app-opponent-boats-states {
  display: flex;
  justify-content: center;
}
.my {
  width: 48%;
  height: 100%;
  padding-left: 2%;
}

.myBoard {
  height: 90%;
}
