<core-modal (closeModalEvent)="closeBox()">
  <p class="description">Donne l'identifiant suivant à ton adversaire :</p>

  <p class="descriptionHighlight">
    {{ myIdGame }}
  </p>
  <p class="description">Ou renseigne son identifiant :</p>
  <p class="description">
    <input
      class="inputIdGame"
      type="text"
      [ngModel]="opponentIdGame"
      (ngModelChange)="updateOpponentIdGame($event)"
      appForceUppercase
      appIdGameFormat
    />
  </p>
  <p class="error" *ngIf="errorMessage.length >= 1">
    {{ errorMessage }}
  </p>
</core-modal>
